<ion-grid>
  <ion-row class="ion-justify-content-between ion-align-items-center">
    <ion-col>
      <ion-text>Bisnis saya</ion-text>
    </ion-col>

    <ion-col class="ion-text-right">
      <ion-button
        size="small"
        color="secondary"
        mode="ios"
        (click)="showEditor()"
      >
        <ion-icon name="add-outline" slot="start"></ion-icon>
        <ion-text>Submit</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-list lines="full">
  <ng-container *ngIf="listings$ | async as listing">
    <ion-item
      *ngFor="let item of listing?.results"
      detail="true"
      [routerLink]="['/listing-inquiry', item.uuid]"
    >
      <ion-label class="ion-text-wrap">
        {{ item.label }}

        <p [ngStyle]="{ 'font-size': '13px' }" class="line">
          <ion-text color="medium" size="small">
            Kata kunci: {{ item.keyword }}
          </ion-text>
        </p>
      </ion-label>

      <ion-badge
        slot="end"
        [color]="item?.status == 'pending' ? 'medium' : 'success'"
      >
        <small>{{ item?.status_display }}</small>
      </ion-badge>
    </ion-item>
  </ng-container>
</ion-list>

<ng-container *ngIf="listings$ | async as listing">
  <div
    *ngIf="listing?.status == 'loading'"
    class="ion-padding ion-margin ion-text-center"
  >
    <ion-spinner></ion-spinner>
  </div>

  <p
    *ngIf="listing?.results.length == 0 && listing?.status == 'loaded'"
    class="ion-text-center"
  >
    Belum ada bisnis.
  </p>
</ng-container>
