<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title size="small"> Permintaan </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="listing$ | async as listing">
    <div
      *ngIf="listing?.status == 'loading'"
      class="ion-padding ion-margin ion-text-center"
    >
      <ion-spinner></ion-spinner>
    </div>

    <ng-container *ngIf="listing?.result?.uuid && listing?.status == 'loaded'">
      <ion-item
        *ngIf="listing?.result?.state?.status == 'pending'"
        color="warning"
      >
        <ion-label class="ion-text-wrap">
          Sedang diverifikasi 1 - 3 hari kerja
          <p class="line">
            <ion-text>
              Untuk mempercepat verifikasi pastikan alamat bisnis dan kontak
              yang diberikan bisa dihubungi. Klik "Edit" untuk melengkapinya.
            </ion-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-item lines="full" [ngStyle]="{'padding-top': '5px'}">
        <label>
          <div>{{ listing.result?.label }}</div>
          <div [ngStyle]="{'margin-top': '2px', 'font-size': '12px'}">
            <ion-text color="medium" size="small">
              Kata kunci: {{ listing.result?.keyword }}
            </ion-text>
          </div>
        </label>

        <ion-buttons slot="end">
          <ion-button
            size="small"
            mode="ios"
            color="primary"
            [routerLink]="['/listing-detail', listing_uuid]"
          >
            Edit
          </ion-button>
        </ion-buttons>
      </ion-item>

      <div *ngIf="showInquiry" class="ion-padding">
        <app-inquiry-list-hunt
          [keyword]="listing.result?.keyword"
          [listing_uuid]="listing_uuid"
        ></app-inquiry-list-hunt>
      </div>
    </ng-container>
  </ng-container>
</ion-content>
