<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" color="secondary">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!--
    <ion-tab-button tab="notification">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notification</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
    -->

    <ion-tab-button tab="partner" color="secondary">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Bisnis</ion-label>
    </ion-tab-button>

    <!--
    <ion-tab-button tab="installment" color="secondary">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Cicilan</ion-label>
    </ion-tab-button>
    -->

    <ion-tab-button tab="account" color="secondary">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
