<ng-container *ngIf="proposes$ | async as propose">
  <div
    *ngIf="propose?.status == 'loading'"
    class="ion-padding ion-margin ion-text-center"
  >
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngIf="propose?.status == 'loaded'" lines="full">
    <ng-container *ngIf="inquiry$ | async as inquiry">
      <ion-item-divider class="ion-no-padding">
        <ion-label>{{ inquiry?.result?.propose_count }} Penawaran</ion-label>
      </ion-item-divider>
    </ng-container>

    <ng-container *ngFor="let item of propose?.results; let last = last">
      <ion-item
        detail
        lines="{{ last ? 'none' : 'full' }}"
        [routerLink]="['/propose-detail', item.uuid]"
        button
      >
        <ion-label>
          {{ item.listing.label }}
        </ion-label>

        <ion-note slot="end" class="ion-no-margin">
          <ion-text [ngStyle]="{ 'margin-right': '5px' }">
            {{ item.distance | number: "1.0-0" }} km
          </ion-text>

          <ion-text color="danger">
            Rp {{ item.newest_offer_cost | number }}
          </ion-text>

          <div
            *ngIf="item.newest_item_additional_count > 0"
            class="ion-text-end"
          >
            <ion-text color="medium">
              {{ item.newest_item_additional_count }} item lain
            </ion-text>
          </div>
        </ion-note>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ng-container>
