.items .item-block {
  position: relative;
}

.items .item-block > span {
  position: absolute;
  left: 0;
  top: 10px;
}

.items .item-block ion-textarea {
  --padding-start: 18px;
  margin-top: 2px;
}

.item .add-button {
  position: absolute;
  right: 0;
  bottom: 3px;
  top: auto;
}

.item .add-button ion-button {
  --padding-top: 5px;
  --padding-end: 5px;
  --padding-bottom: 5px;
  --padding-start: 5px;
  width: auto;
  height: auto;
}

.item-editor ion-textarea {
  --padding-end: 40px;
}
