<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" #formDirective="ngForm">
  <ion-list lines="full">
    <!-- LIST ITEMS -->
    <ion-item class="items">
      <ion-label position="stacked">Permintaan</ion-label>

      <ng-container formArrayName="items">
        <ng-container
          *ngFor="let item of items().controls; let i = index"
          [formGroupName]="i"
        >
          <div class="item-block item-editor">
            <span>{{ i + 1 }}.</span>
            <ion-textarea
              (ionChange)="myInputChange($event, i)"
              [autoGrow]="autoGrow"
              formControlName="label"
              placeholder="Tulis disini"
              rows="1"
              #myInput
            ></ion-textarea>

            <ion-buttons
              slot="end"
              [ngStyle]="{ 'margin-left': '0' }"
              class="add-button"
            >
              <ion-button
                color="danger"
                (click)="removeItem(i)"
                size="small"
                mode="ios"
              >
                <ion-icon name="close-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </ng-container>
      </ng-container>

      <div class="item-block item-editor">
        <span>{{ items().controls.length + 1 }}.</span>

        <ion-textarea
          [(ngModel)]="itemValue"
          [ngModelOptions]="{ standalone: true }"
          [autoGrow]="autoGrow"
          placeholder="Tulis disini"
          rows="1"
          #myInput
        ></ion-textarea>

        <ion-buttons
          slot="end"
          [ngStyle]="{ 'margin-left': '0' }"
          class="add-button"
        >
          <ion-button color="dark" (click)="addItem()" size="small" mode="ios">
            <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-label position="stacked" class="ion-text-wrap">
        Kata kunci
      </ion-label>

      <ion-textarea
        formControlName="keyword"
        [autoGrow]="autoGrow"
        placeholder="Contoh: kuliner lesehan. Ini membantu bisnis lokal menemukan permintaan Anda"
      ></ion-textarea>
    </ion-item>

    <ion-row class="ion-margin-top ion-align-items-center">
      <ion-col size="6">
        <ion-button
          type="submit"
          [disabled]="formGroup.invalid"
          mode="ios"
          color="secondary"
        >
          Kirim
        </ion-button>
      </ion-col>

      <ion-col size="6" class="ion-text-end">
        <ion-button
          mode="ios"
          size="small"
          fill="clear"
          (click)="showHowTo()"
          color="primary"
        >
          <ion-icon name="help-circle-outline" slot="start"></ion-icon>
          <ion-text>Baca petunjuk</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</form>
