<ng-container *ngIf="inquiry$ | async as inquiry">
  <div
    *ngIf="inquiry?.status == 'loading'"
    class="ion-margin ion-padding ion-text-center"
  >
    <ion-spinner></ion-spinner>
  </div>

  <ng-container *ngIf="inquiry?.result?.uuid">
    <ion-card class="ion-no-margin">
      <ion-card-header [ngStyle]="{ 'padding-bottom': '5px' }">
        <ion-card-title [ngStyle]="{ 'font-size': '15px' }">
          <strong>{{ inquiry?.result?.user }}</strong>
        </ion-card-title>

        <ion-card-subtitle>
          {{ inquiry?.result?.create_at | date: "dd MMMM YYYY HH:mm" }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div>
          <ion-text
            color="dark"
            [innerHTML]="inquiry?.result?.keyword | autolink"
            [ngStyle]="{ 'font-size': '16px' }"
          ></ion-text>
        </div>

        <ion-list
          *ngIf="!sendOffer && inquiry?.result?.newest_offer"
          lines="full"
        >
          <ion-item-divider lines="full" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              Kode rahasia
              <p class="line">
                Digunakan saat konsumen ingin menerima tawaran Anda.
              </p>
            </ion-label>

            <ion-note slot="end" [ngStyle]="{ 'font-size': '15px' }">
              <strong>{{ inquiry?.result?.newest_offer?.secret }}</strong>
            </ion-note>
          </ion-item-divider>

          <ion-item-divider class="ion-no-padding">
            <ion-label>Tawaran saat ini</ion-label>
            <ion-buttons
              *ngIf="!inquiry?.result?.newest_offer?.is_ordered"
              slot="end"
              (click)="changeOffer()"
            >
              <ion-button
                mode="ios"
                size="small"
                color="secondary"
                fill="outline"
              >
                Rubah
              </ion-button>
            </ion-buttons>
          </ion-item-divider>

          <ng-container
            *ngFor="
              let item of inquiry?.result?.newest_offer?.items;
              let last = last
            "
          >
            <ion-item
              lines="{{
                last && inquiry?.result?.newest_offer?.cost == 0
                  ? 'none'
                  : 'full'
              }}"
            >
              <ion-label class="ion-text-wrap">
                {{ item.label }}

                <p
                  *ngIf="item.description"
                  class="line"
                  [innerHTML]="item.description"
                ></p>
              </ion-label>

              <ion-note
                slot="end"
                color="danger"
                [ngStyle]="{ 'font-size': '13px' }"
              >
                <strong
                  *ngIf="
                    inquiry?.result?.newest_offer?.cost == 0 &&
                    item.is_available
                  "
                >
                  Rp {{ item.cost | number }}
                </strong>

                <div *ngIf="item.is_additional" class="ion-text-end">
                  <ion-text color="medium">Item lain</ion-text>
                </div>
              </ion-note>

              <ion-icon
                *ngIf="!item.is_available"
                name="close-outline"
                color="danger"
                slot="end"
              ></ion-icon>

              <ion-icon
                *ngIf="inquiry?.result?.newest_offer?.cost > 0"
                name="checkmark-outline"
                color="success"
                slot="end"
              ></ion-icon>
            </ion-item>
          </ng-container>

          <ion-item
            *ngIf="inquiry?.result?.newest_offer?.cost > 0"
            [lines]="
              inquiry?.result?.newest_offer?.is_ordered ? 'full' : 'none'
            "
          >
            <ion-label class="ion-text-wrap">
              Tawar semuanya

              <p
                *ngIf="inquiry?.result?.newest_offer?.description"
                class="line"
                [innerHTML]="inquiry?.result?.newest_offer?.description"
              ></p>
            </ion-label>

            <ion-note
              slot="end"
              color="danger"
              [ngStyle]="{ 'font-size': '13px' }"
            >
              <strong>
                Rp {{ inquiry?.result?.newest_offer?.cost | number }}
              </strong>
            </ion-note>
          </ion-item>

          <ion-item
            *ngIf="inquiry?.result?.newest_offer?.is_ordered"
            lines="none"
            detail
            button
          >
            <ion-label class="ion-text-wrap">
              Diterima konsumen
              <p class="line">Tawaran diterima lihat rincian</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <form
          *ngIf="sendOffer || !inquiry?.result?.newest_offer"
          [formGroup]="formGroup"
          (ngSubmit)="onSubmit(inquiry?.result)"
        >
          <ion-list lines="full">
            <ng-container formArrayName="offer_items">
              <ng-container
                *ngFor="
                  let item of offer_items().controls;
                  let last = last;
                  let i = index
                "
                [formGroupName]="i"
              >
                <ion-item lines="full">
                  <ion-checkbox
                    *ngIf="!offerAll"
                    slot="start"
                    (ionChange)="availableChange(i)"
                    formControlName="is_available"
                  ></ion-checkbox>

                  <ion-note
                    *ngIf="offerAll"
                    slot="start"
                    [ngStyle]="{ 'margin-right': '5px', 'font-size': '13px' }"
                  >
                    {{ i + 1 }}
                  </ion-note>

                  <ion-note
                    *ngIf="!offerAll"
                    slot="start"
                    [ngStyle]="{ 'margin-right': '5px', 'font-size': '13px' }"
                  >
                    {{ i + 1 }}
                  </ion-note>

                  <ion-label class="ion-text-wrap">
                    <ion-text [innerHTML]="item.value.label"></ion-text>

                    <p
                      *ngIf="item.value?.is_additional"
                      class="line"
                      [ngStyle]="{ 'font-size': '12px', 'line-height': '1' }"
                    >
                      <ion-text color="medium">Item lain</ion-text>
                    </p>
                  </ion-label>
                </ion-item>

                <ng-container *ngIf="item.value.is_available && !offerAll">
                  <ion-item lines="full">
                    <ion-label position="stacked" class="ion-text-wrap">
                      Penawaran
                      {{ item.value.is_additional ? "lain" : "" }}
                    </ion-label>

                    <ion-input
                      *ngIf="
                        item.value.is_additional && !item.value.inquiry_item
                      "
                      formControlName="label"
                      class="ion-no-margin ion-no-padding"
                      placeholder="Nama item"
                    ></ion-input>

                    <ion-input
                      formControlName="cost"
                      class="ion-no-margin ion-no-padding"
                      placeholder="Nilai penawaran, mis: 2500"
                      color="danger"
                      type="number"
                    ></ion-input>

                    <ion-textarea
                      formControlName="description"
                      class="ion-no-margin ion-no-padding"
                      placeholder="Catatan (tidak wajib)"
                      [autoGrow]="autoGrow"
                    ></ion-textarea>
                  </ion-item>
                </ng-container>
              </ng-container>
            </ng-container>

            <ion-item lines="full" (click)="addNewItem()" button>
              <ion-icon name="add-outline" slot="start"></ion-icon>

              <ion-label class="ion-text-wrap">
                Tawarkan item lain
                <p class="line">Kami ada ini dan itu, berminat?</p>
              </ion-label>
            </ion-item>

            <ion-item lines="full">
              <ion-checkbox
                color="primary"
                slot="start"
                formControlName="can_attend"
              ></ion-checkbox>

              <ion-label>
                Bersedia datang
                <p class="line">Datang ke tempat konsumen?</p>
              </ion-label>
            </ion-item>

            <ion-item lines="full">
              <ion-checkbox
                color="primary"
                slot="start"
                (ionChange)="offerAllChange()"
                [(ngModel)]="offerAll"
                [ngModelOptions]="{ standalone: true }"
                [value]="true"
              ></ion-checkbox>

              <ion-label>
                Semuanya
                <p class="line">Harga borongan semua item</p>
              </ion-label>
            </ion-item>

            <ng-container *ngIf="offerAll">
              <ion-item lines="full">
                <ion-label position="stacked">Tawaran</ion-label>
                <ion-input
                  class="ion-no-margin ion-no-padding"
                  placeholder="Tawaran semua item, mis: 2500"
                  formControlName="cost"
                  color="danger"
                  type="number"
                ></ion-input>

                <ion-textarea
                  class="ion-no-margin ion-no-padding"
                  placeholder="Catatan (tidak wajib)"
                  formControlName="description"
                  [autoGrow]="autoGrow"
                ></ion-textarea>
              </ion-item>
            </ng-container>
          </ion-list>

          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col size="8">
              <ion-button
                size="small"
                type="submit"
                expand="block"
                [disabled]="formGroup.invalid"
              >
                <ng-container *ngIf="propose$ | async as propose">
                  <ng-container *ngIf="propose?.status == 'loading'">
                    <ion-spinner name="dots"></ion-spinner>
                  </ng-container>

                  <ng-container *ngIf="propose?.status != 'loading'">
                    {{
                      inquiry?.result?.newest_offer
                        ? "Rubah Tawaran"
                        : "Kirim Tawaran"
                    }}
                  </ng-container>
                </ng-container>
              </ion-button>
            </ion-col>

            <ion-col *ngIf="inquiry?.result?.newest_offer" size="4">
              <ion-button
                size="small"
                fill="clear"
                (click)="changeOffer()"
                expand="block"
                mode="ios"
                color="secondary"
              >
                Batal
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-list lines="full" class="ion-margin-top">
      <ion-item-divider>
        <ion-label>Lokasi konsumen</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>
          {{ inquiry?.result?.distance | number: "1.0-1" }} km
        </ion-label>

        <ion-buttons slot="end">
          <ion-button
            (click)="openMap(inquiry?.result?.location)"
            mode="ios"
            color="secondary"
          >
            Lihat di peta
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ng-container>
</ng-container>
