<ng-container *ngIf="inquiry$ | async as inquiry">
  <div
    *ngIf="inquiry?.status == 'loading'"
    class="ion-margin ion-padding ion-text-center"
  >
    <ion-spinner></ion-spinner>
  </div>

  <ng-container *ngIf="inquiry?.result?.uuid">
    <ion-card class="ion-no-margin">
      <ion-card-header [ngStyle]="{ 'padding-bottom': '5px' }">
        <ion-card-title [ngStyle]="{ 'font-size': '15px' }">
          <strong>{{ inquiry?.result?.user }}</strong>
        </ion-card-title>

        <ion-card-subtitle>
          {{ inquiry?.result?.create_at | date: "dd MMMM YYYY HH:mm" }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div>
          <ion-text
            color="dark"
            [innerHTML]="inquiry?.result?.keyword"
            [ngStyle]="{ 'font-size': '16px' }"
          ></ion-text>
        </div>

        <ion-list
          *ngIf="!sendOffer && inquiry?.result?.newest_offer"
          lines="full"
        >
          <ion-item-divider class="ion-no-padding">
            <ion-label>Tawaran saat ini</ion-label>
            <ion-buttons slot="end" (click)="changeOffer()">
              <ion-button
                mode="ios"
                size="small"
                color="primary"
                fill="outline"
              >
                Rubah tawaran
              </ion-button>
            </ion-buttons>
          </ion-item-divider>

          <ng-container
            *ngFor="
              let item of inquiry?.result?.newest_offer?.items;
              let last = last
            "
          >
            <ion-item
              lines="{{
                last && inquiry?.result?.newest_offer?.cost == 0
                  ? 'none'
                  : 'full'
              }}"
            >
              <ion-label class="ion-text-wrap">
                {{ item.inquiry_item }}

                <p
                  *ngIf="item.description"
                  class="line"
                  [innerHTML]="item.description"
                ></p>
              </ion-label>

              <ion-note
                slot="end"
                color="danger"
                [ngStyle]="{ 'font-size': '13px' }"
              >
                <strong
                  *ngIf="
                    inquiry?.result?.newest_offer?.cost == 0 &&
                    item.is_available
                  "
                >
                  Rp {{ item.cost | number }}
                </strong>

                <ion-icon
                  *ngIf="!item.is_available"
                  name="close-outline"
                  color="danger"
                ></ion-icon>

                <ion-icon
                  *ngIf="inquiry?.result?.newest_offer?.cost > 0"
                  name="checkmark-outline"
                  color="success"
                ></ion-icon>
              </ion-note>
            </ion-item>
          </ng-container>

          <ion-item
            *ngIf="inquiry?.result?.newest_offer?.cost > 0"
            lines="none"
          >
            <ion-label class="ion-text-wrap">
              Tawar semuanya

              <p
                *ngIf="inquiry?.result?.newest_offer?.description"
                class="line"
                [innerHTML]="inquiry?.result?.newest_offer?.description"
              ></p>
            </ion-label>

            <ion-note
              slot="end"
              color="danger"
              [ngStyle]="{ 'font-size': '13px' }"
            >
              <strong>
                Rp {{ inquiry?.result?.newest_offer?.cost | number }}
              </strong>
            </ion-note>
          </ion-item>
        </ion-list>

        <form
          *ngIf="sendOffer || !inquiry?.result?.newest_offer"
          [formGroup]="formGroup"
          (ngSubmit)="onSubmit(inquiry?.result)"
        >
          <ion-list lines="full">
            <ng-container formArrayName="offer_items">
              <ng-container
                *ngFor="
                  let item of inquiry?.result?.items;
                  let last = last;
                  let i = index
                "
                [formGroupName]="i"
              >
                <ion-item lines="full">
                  <ion-note
                    *ngIf="offerAll"
                    slot="start"
                    [ngStyle]="{ 'margin-right': '5px', 'font-size': '13px' }"
                  >
                    {{ i + 1 }}
                  </ion-note>

                  <ion-badge
                    *ngIf="!offerAll"
                    slot="start"
                    color="dark"
                    [ngStyle]="{ 'margin-right': '5px' }"
                  >
                    {{ i + 1 }}
                  </ion-badge>

                  <ion-label
                    class="ion-text-wrap"
                    [innerHTML]="item.label"
                  ></ion-label>

                  <ion-checkbox
                    *ngIf="!offerAll"
                    slot="end"
                    (ionChange)="availableChange(i)"
                    formControlName="is_available"
                  ></ion-checkbox>
                </ion-item>

                <ng-container
                  *ngIf="
                    formGroup.controls['offer_items'].controls[i].value
                      .is_available && !offerAll
                  "
                >
                  <ion-item lines="full">
                    <ion-label position="stacked" class="ion-text-wrap">
                      Penawaran
                    </ion-label>

                    <ion-input
                      formControlName="cost"
                      class="ion-no-margin ion-no-padding"
                      placeholder="Nilai penawaran, mis: 2500"
                      color="danger"
                      type="number"
                    ></ion-input>

                    <ion-textarea
                      formControlName="description"
                      class="ion-no-margin ion-no-padding"
                      placeholder="Catatan (tidak wajib)"
                    ></ion-textarea>
                  </ion-item>
                </ng-container>
              </ng-container>
            </ng-container>

            <ion-item lines="full">
              <ion-checkbox
                color="primary"
                slot="start"
                formControlName="can_attend"
              ></ion-checkbox>

              <ion-label>
                Bersedia datang
                <p class="line">Datang ke tempat konsumen?</p>
              </ion-label>
            </ion-item>

            <ion-item lines="full">
              <ion-checkbox
                color="primary"
                slot="start"
                (ionChange)="offerAllChange()"
                [(ngModel)]="offerAll"
                [ngModelOptions]="{ standalone: true }"
                [value]="true"
              ></ion-checkbox>

              <ion-label>
                Semuanya
                <p class="line">Harga borongan semua item</p>
              </ion-label>
            </ion-item>

            <ng-container *ngIf="offerAll">
              <ion-item lines="full">
                <ion-label position="stacked">Tawaran</ion-label>
                <ion-input
                  class="ion-no-margin ion-no-padding"
                  placeholder="Tawaran semua item, mis: 2500"
                  formControlName="cost"
                  color="danger"
                  type="number"
                ></ion-input>

                <ion-textarea
                  class="ion-no-margin ion-no-padding"
                  placeholder="Catatan (tidak wajib)"
                  formControlName="description"
                ></ion-textarea>
              </ion-item>
            </ng-container>
          </ion-list>

          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col size="8">
              <ion-button
                size="small"
                type="submit"
                expand="block"
                [disabled]="formGroup.invalid"
              >
                <ng-container *ngIf="propose$ | async as propose">
                  <ng-container *ngIf="propose?.status == 'loading'">
                    <ion-spinner name="dots"></ion-spinner>
                  </ng-container>

                  <ng-container *ngIf="propose?.status != 'loading'">
                    {{
                      inquiry?.result?.newest_offer
                        ? "Rubah Tawaran"
                        : "Kirim Tawaran"
                    }}
                  </ng-container>
                </ng-container>
              </ion-button>
            </ion-col>

            <ion-col *ngIf="inquiry?.result?.newest_offer" size="4">
              <ion-button
                size="small"
                fill="clear"
                (click)="changeOffer()"
                expand="block"
              >
                Batal
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-list lines="full" class="ion-margin-top">
      <ion-item-divider>
        <ion-label>Lokasi konsumen</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>
          {{ inquiry?.result?.distance | number: "1.0-1" }} km
        </ion-label>

        <ion-buttons slot="end">
          <ion-button (click)="openMap(inquiry?.result?.location)">
            Lihat di peta
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ng-container>
</ng-container>
