<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title size="small">Rincian Tawaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="propose$ | async as propose">
    <div
      *ngIf="propose?.status != 'loaded'"
      class="ion-padding ion-margin ion-text-center"
    >
      <ion-spinner></ion-spinner>
    </div>

    <ng-container *ngIf="propose?.status == 'loaded'">
      <ion-list lines="full">
        <ion-item-divider color="light">
          <ion-label>Permintaan</ion-label>
        </ion-item-divider>

        <ng-container
          *ngFor="let item of propose?.result?.newest_offer?.items; let last = last;"
        >
          <ion-item>
            <ion-label class="ion-text-wrap">
              {{ item.inquiry_item }}
              <p *ngIf="item.description" [innerHTML]="item.description"></p>
            </ion-label>

            <ion-note
              slot="end"
              color="danger"
              [ngStyle]="{'font-size': '13px'}"
            >
              <strong *ngIf="propose?.result?.newest_offer?.cost == 0">
                <ion-text *ngIf="item.is_available">
                  Rp {{ item.cost | number }}
                </ion-text>

                <ion-icon
                  *ngIf="!item.is_available"
                  name="close-outline"
                ></ion-icon>
              </strong>

              <ion-icon
                *ngIf="propose?.result?.newest_offer?.cost > 0"
                color="success"
                name="checkmark-outline"
              ></ion-icon>
            </ion-note>
          </ion-item>
        </ng-container>

        <ion-item *ngIf="propose?.result?.newest_offer">
          <ion-label class="ion-text-wrap">
            Bersedia datang
            <p class="line">
              Penawar bersedia datang ke lokasi Anda. Hubungi penawar terlebih
              dulu.
            </p>
          </ion-label>

          <ion-badge
            *ngIf="propose?.result?.newest_offer?.can_attend == false"
            slot="end"
            color="dark"
          >
            Tidak
          </ion-badge>

          <ion-badge
            *ngIf="propose?.result?.newest_offer?.can_attend == true"
            slot="end"
            color="success"
          >
            Ya
          </ion-badge>
        </ion-item>

        <ion-item *ngIf="propose?.result?.newest_offer?.cost > 0">
          <ion-label class="ion-text-wrap">
            Ditawar semuanya
            <p
              *ngIf="propose?.result?.newest_offer?.description"
              [innerHTML]="propose?.result?.newest_offer?.description"
            ></p>
          </ion-label>

          <ion-note slot="end" color="danger" [ngStyle]="{'font-size': '13px'}">
            <strong>
              Rp {{ propose?.result?.newest_offer?.cost | number }}
            </strong>
          </ion-note>
        </ion-item>

        <ion-item-divider color="light">
          <ion-label>Hubungi penawar</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <table [ngStyle]="{'font-size': '14px'}">
              <tr>
                <td [ngStyle]="{'width': '125px'}">Nama</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.label }}
                </td>
              </tr>

              <!--
              <tr>
                <td>Kata kunci</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.keyword }}
                </td>
              </tr>
              -->

              <tr>
                <td>Email</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.contact?.email ?
                  propose?.result?.listing?.contact?.email : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>Telepon</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.contact?.telephone ?
                  propose?.result?.listing?.contact?.telephone : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>WhatsApp</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.contact?.whatsapp ?
                  propose?.result?.listing?.contact?.whatsapp : "&mdash;" }}
                </td>
              </tr>
            </table>
          </ion-label>
        </ion-item>

        <ion-item-divider color="light">
          <ion-label>Lokasi Penawar</ion-label>
        </ion-item-divider>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <table [ngStyle]="{'font-size': '14px'}">
              <tr>
                <td [ngStyle]="{'width': '125px'}">Alamat</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.location?.street_address ?
                  propose?.result?.listing?.location?.street_address : "&mdash;"
                  }}
                </td>
              </tr>

              <tr>
                <td>Desa / Kelurahan</td>
                <td class="ion-padding-start">
                  {{
                  propose?.result?.listing?.location?.administrative_area_level_4
                  ?
                  propose?.result?.listing?.location?.administrative_area_level_4
                  : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>Kecamatan</td>
                <td class="ion-padding-start">
                  {{
                  propose?.result?.listing?.location?.administrative_area_level_3
                  ?
                  propose?.result?.listing?.location?.administrative_area_level_3
                  : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>Kota / Kabupaten</td>
                <td class="ion-padding-start">
                  {{
                  propose?.result?.listing?.location?.administrative_area_level_2
                  ?
                  propose?.result?.listing?.location?.administrative_area_level_2
                  : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>Provinsi</td>
                <td class="ion-padding-start">
                  {{
                  propose?.result?.listing?.location?.administrative_area_level_1
                  ?
                  propose?.result?.listing?.location?.administrative_area_level_1
                  : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>Kodepos</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.location?.postal_code ?
                  propose?.result?.listing?.location?.postal_code : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>Latitude</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.location?.latitude ?
                  propose?.result?.listing?.location?.latitude : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>Longitude</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.location?.longitude ?
                  propose?.result?.listing?.location?.longitude : "&mdash;" }}

                  <ion-button
                    *ngIf="propose?.result?.listing?.location?.latitude"
                    mode="ios"
                    size="small"
                    color="light"
                    (click)="openMap(propose?.result?.listing?.location)"
                  >
                    <ion-icon
                      name="map-outline"
                      [ngStyle]="{'margin-right': '5px', 'position': 'relative', 'top': '1px'}"
                    ></ion-icon>
                    <ion-text>Buka Google Map</ion-text>
                  </ion-button>
                </td>
              </tr>
            </table>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
  </ng-container>
</ion-content>
