<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title size="small">Rincian Penawaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="propose$ | async as propose">
    <div
      *ngIf="propose?.status != 'loaded'"
      class="ion-padding ion-margin ion-text-center"
    >
      <ion-spinner></ion-spinner>
    </div>

    <ng-container *ngIf="propose?.status == 'loaded'">
      <ion-list lines="full">
        <ng-container
          *ngFor="let item of propose?.result?.newest_offer?.items; let last = last; let index = index;"
        >
          <ion-item
            [disabled]="(item.cost > 0 ? false : true) || propose?.result?.newest_offer?.is_ordered"
          >
            <ion-checkbox
              *ngIf="propose?.result?.newest_offer?.cost == 0"
              slot="start"
              [(ngModel)]="selectedOfferItems[index][item.uuid]"
            ></ion-checkbox>

            <ion-checkbox
              *ngIf="propose?.result?.newest_offer?.cost > 0"
              slot="start"
              [checked]="true"
            ></ion-checkbox>

            <ion-label class="ion-text-wrap">
              {{ item.label }}
              <p *ngIf="item.description" [innerHTML]="item.description"></p>
            </ion-label>

            <ng-container *ngIf="propose?.result?.newest_offer?.cost == 0">
              <ion-note
                *ngIf="item.is_available"
                slot="end"
                color="danger"
                [ngStyle]="{'font-size': '13px'}"
              >
                <strong>Rp {{ item.cost | number }}</strong>
                <div *ngIf="item.is_additional" class="ion-text-end">
                  <ion-text color="medium">Item lain</ion-text>
                </div>
              </ion-note>

              <ion-icon
                *ngIf="!item.is_available"
                name="close-outline"
                slot="end"
              ></ion-icon>
            </ng-container>

            <ion-icon
              *ngIf="propose?.result?.newest_offer?.cost > 0"
              color="success"
              name="checkmark-outline"
              slot="end"
            ></ion-icon>
          </ion-item>
        </ng-container>

        <ion-item *ngIf="propose?.result?.newest_offer">
          <ion-label class="ion-text-wrap">
            Bersedia datang
            <p class="line">
              Mungkin bisa ke lokasi Anda. Hubungi penawar terlebih dulu.
            </p>
          </ion-label>

          <ion-badge
            *ngIf="propose?.result?.newest_offer?.can_attend == false"
            slot="end"
            color="dark"
          >
            Tidak
          </ion-badge>

          <ion-badge
            *ngIf="propose?.result?.newest_offer?.can_attend == true"
            slot="end"
            color="success"
          >
            Ya
          </ion-badge>
        </ion-item>

        <ion-item *ngIf="propose?.result?.newest_offer?.cost > 0">
          <ion-label class="ion-text-wrap">
            Ditawar semuanya
            <p
              *ngIf="propose?.result?.newest_offer?.description"
              [innerHTML]="propose?.result?.newest_offer?.description"
            ></p>
          </ion-label>

          <ion-note slot="end" color="danger" [ngStyle]="{'font-size': '13px'}">
            <strong>
              Rp {{ propose?.result?.newest_offer?.cost | number }}
            </strong>
          </ion-note>
        </ion-item>

        <ion-item
          *ngIf="!propose?.result?.newest_offer?.is_ordered"
          button
          (click)="confirmOffer()"
        >
          <ion-icon name="checkmark-outline" slot="start"></ion-icon>
          <ion-label>
            Terima tawaran & ajukan cicilan
            <p class="line">Hanya yang dicentang</p>
          </ion-label>
        </ion-item>

        <ion-item
          *ngIf="propose?.result?.newest_offer?.is_ordered"
          [routerLink]="['/order-detail', propose?.result?.newest_offer?.order?.uuid]"
          button
          detail
        >
          <ion-icon
            name="checkmark-done-outline"
            slot="start"
            color="success"
          ></ion-icon>
          <ion-label>
            Anda menerima tawaran ini
            <p class="line">Tap untuk melihat rincian</p>
          </ion-label>
        </ion-item>

        <ion-item-divider color="light">
          <ion-label><strong>Penawar</strong></ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <table [ngStyle]="{'font-size': '14px'}">
              <tr>
                <td [ngStyle]="{'width': '125px'}">Nama</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.label }}
                </td>
              </tr>

              <!--
              <tr>
                <td>Kata kunci</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.keyword }}
                </td>
              </tr>
              -->

              <tr>
                <td>Email</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.contact?.email ?
                  propose?.result?.listing?.contact?.email : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>Telepon</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.contact?.telephone ?
                  propose?.result?.listing?.contact?.telephone : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>WhatsApp</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.contact?.whatsapp ?
                  propose?.result?.listing?.contact?.whatsapp : "&mdash;" }}
                </td>
              </tr>
            </table>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <table [ngStyle]="{'font-size': '14px'}">
              <tr>
                <td [ngStyle]="{'width': '125px'}">Alamat</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.location?.street_address ?
                  propose?.result?.listing?.location?.street_address : "&mdash;"
                  }}
                </td>
              </tr>

              <tr>
                <td>Desa / Kelurahan</td>
                <td class="ion-padding-start">
                  {{
                  propose?.result?.listing?.location?.administrative_area_level_4
                  ?
                  propose?.result?.listing?.location?.administrative_area_level_4
                  : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>Kecamatan</td>
                <td class="ion-padding-start">
                  {{
                  propose?.result?.listing?.location?.administrative_area_level_3
                  ?
                  propose?.result?.listing?.location?.administrative_area_level_3
                  : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>Kota / Kabupaten</td>
                <td class="ion-padding-start">
                  {{
                  propose?.result?.listing?.location?.administrative_area_level_2
                  ?
                  propose?.result?.listing?.location?.administrative_area_level_2
                  : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>Provinsi</td>
                <td class="ion-padding-start">
                  {{
                  propose?.result?.listing?.location?.administrative_area_level_1
                  ?
                  propose?.result?.listing?.location?.administrative_area_level_1
                  : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>Kodepos</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.location?.postal_code ?
                  propose?.result?.listing?.location?.postal_code : "&mdash;" }}
                </td>
              </tr>

              <tr>
                <td>Latitude</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.location?.latitude ?
                  propose?.result?.listing?.location?.latitude : "&mdash;" }}
                </td>

                <td
                  *ngIf="propose?.result?.listing?.location?.latitude"
                  rowspan="2"
                  class="ion-padding-start"
                >
                  <ion-button
                    mode="ios"
                    size="small"
                    color="secondary"
                    (click)="openMap(propose?.result?.listing?.location)"
                  >
                    <ion-text>Lihat Map</ion-text>
                  </ion-button>
                </td>
              </tr>

              <tr>
                <td>Longitude</td>
                <td class="ion-padding-start">
                  {{ propose?.result?.listing?.location?.longitude ?
                  propose?.result?.listing?.location?.longitude : "&mdash;" }}
                </td>
              </tr>
            </table>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
  </ng-container>
</ion-content>
