<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title size="small">Lupa password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="securecode$ | async as securecode">
    <app-boarding-form
      *ngIf="!securecode.result?.token"
      challenge="password_recovery"
    ></app-boarding-form>
    <app-boarding-validation-form
      *ngIf="securecode.result?.token && !securecode.result?.is_verified"
      challenge="password_recovery"
    ></app-boarding-validation-form>
    <app-set-password-form
      *ngIf="securecode.result?.is_verified"
    ></app-set-password-form>
  </ng-container>
</ion-content>
