<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Buat password baru</ion-label>
      <ion-input
        [type]="showedPassword ? 'text' : 'password'"
        formControlName="new_password"
        placeholder="Contoh: KMZWA8AWAA"
      ></ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="showPassword()">
          <ion-icon
            [name]="showedPassword ? 'eye-off-outline' : 'eye-outline'"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-label position="stacked">Ulangi password baru</ion-label>
      <ion-input
        [type]="showedPassword ? 'text' : 'password'"
        formControlName="retype_password"
        placeholder="Contoh: KMZWA8AWAA"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-button
    class="ion-margin-top"
    type="submit"
    expand="block"
    color="secondary"
    mode="ios"
    [disabled]="formGroup.invalid"
  >
    Submit
  </ion-button>
</form>
