<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title size="small"> Petunjuk mengirim permintaan </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ol>
    <li class="ion-margin-bottom">
      Bebas mengirim permintaan apapun seperti kuliner, bengkel (servis motor),
      jasa dan lain sebagainya.
    </li>

    <li class="ion-margin-bottom">
      Gunakan kata kunci yang cocok. Seperti:
      <strong>makanan kuliner lesehan</strong>. Jangan bercampur dengan kata
      kunci lain seperti: <strong>kuliner bengkel salon</strong>.
    </li>

    <li>
      Isi permintaan sesuai kata kunci dan saling melengkapi seperti:
      <ul>
        <li>Bakso 1 mangkok</li>
        <li>Mie ayam</li>
        <li>Es teh</li>
      </ul>

      <br />

      <ion-text color="danger">Jangan seperti ini:</ion-text>
      <ul>
        <li>Bakso 1 mangkok</li>
        <li>Nasi padang</li>
        <li>Bolu pandan</li>
      </ul>

      <p>
        Kesesuain permintaan membantu bisnis lokal menemukan permintaan Anda
        dengan cepat.
      </p>
    </li>

    <li>
      Jika ada pertanyaan kirim ke WhatsApp: <strong>0811-806-807</strong>
    </li>
  </ol>
</ion-content>
