<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="switchMode()">
        <ion-icon [name]="mode.icon" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title size="small">
      {{ mode.value == 'customer' ? 'Konsumen' : 'Bisnis' }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="switchMode()" mode="ios">
        <ion-text>Ganti Mode</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="mode.value == 'customer'">
    <ion-grid>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col>
          <ion-text>Hay, butuh sesuatu?</ion-text>
        </ion-col>

        <ion-col class="ion-text-right">
          <ion-button
            size="small"
            color="secondary"
            mode="ios"
            (click)="showInquiryEditor()"
          >
            <ion-icon name="add-outline" slot="start"></ion-icon>
            <ion-text>Kirim Permintaan</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <app-inquiry-list></app-inquiry-list>
  </ng-container>

  <ng-container *ngIf="mode.value == 'business'">
    <app-listing-list></app-listing-list>
  </ng-container>
</ion-content>
