<ion-content [fullscreen]="true">
  <ion-grid
    class="ion-no-padding ion-no-margin"
    [ngStyle]="{'height': '100vh'}"
  >
    <ion-row
      class="ion-justify-content-center ion-align-items-center"
      [ngStyle]="{'height': '100%'}"
    >
      <ion-col size="7">
        <div class="ion-text-center">
          <h1 class="ion-no-margin"><strong>Mini Loka</strong></h1>
          <p>e-Permintaan Konsumen ke Bisnis Lokal / UMKM</p>

          <p>
            <small>
              <strong>Konsumen</strong> <br />
              <ion-text color="medium">
                Kirim permintaan. Stop berkeliling. Tidak menunggu lama bisnis
                lokal siap membantu. Ajukan cicilan pembayaran.
              </ion-text>
            </small>
          </p>

          <p>
            <small>
              <strong>Bisnis Lokal</strong> <br />
              <ion-text color="medium">
                Amati permintaan konsumen disekitar lokasi bisnis. Kirim
                penawaran terbaik dan tingkatkan penjualan.
              </ion-text>
            </small>
          </p>

          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-button
                color="success"
                expand="block"
                size="small"
                [routerLink]="['/login']"
                mode="ios"
              >
                <ion-icon name="log-in" slot="start"></ion-icon>
                <ion-text>Masuk</ion-text>
              </ion-button>
            </ion-col>

            <ion-col size="6">
              <ion-button
                color="secondary"
                expand="block"
                size="small"
                [routerLink]="['/register']"
                mode="ios"
              >
                <ion-icon name="person-add" slot="start"></ion-icon>
                <ion-text>Daftar</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
