<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title size="small">Daftar</ion-title>

    <ion-buttons slot="end" class="ion-padding-end">
      <ion-button
        type="button"
        size="small"
        [routerLink]="['/login']"
        mode="ios"
        color="secondary"
      >
        <ion-icon name="log-in" slot="start"></ion-icon>
        <ion-text>Masuk</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="securecode$ | async as securecode">
    <app-boarding-form
      *ngIf="!securecode.result?.token"
      challenge="email_validation"
    ></app-boarding-form>

    <app-boarding-validation-form
      *ngIf="securecode.result?.token && !securecode.result?.is_verified"
    ></app-boarding-validation-form>

    <app-register-form
      *ngIf="securecode.result?.is_verified"
    ></app-register-form>
  </ng-container>
</ion-content>
