<ng-container *ngIf="inquiry$ | async as inquiry">
  <div
    *ngIf="inquiry?.status == 'loading'"
    class="ion-padding ion-margin ion-text-center"
  >
    <ion-spinner></ion-spinner>
  </div>

  <ng-container *ngIf="inquiry?.result?.uuid">
    <ion-card class="ion-no-margin">
      <ion-card-header [ngStyle]="{ 'padding-bottom': '5px' }">
        <ion-card-subtitle>
          {{ inquiry?.result?.create_at | date: "dd MMMM YYYY HH:mm" }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div>
          <ion-text
            [ngStyle]="{ 'font-size': '15px' }"
            [innerHTML]="inquiry?.result?.keyword | autolink"
            color="dark"
          ></ion-text>
        </div>

        <ion-list>
          <ion-item-divider class="ion-no-padding">
            <ion-label>Permintaan</ion-label>
          </ion-item-divider>

          <ng-container
            *ngFor="
              let item of inquiry?.result?.items;
              let last = last;
              let i = index
            "
          >
            <ion-item lines="{{ last ? 'none' : 'full' }}">
              <ion-note slot="start" [ngStyle]="{ 'margin-right': '5px' }">
                {{ i + 1 }}
              </ion-note>

              <ion-label
                [innerHTML]="item.label | autolink"
                class="ion-text-wrap"
              ></ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ng-container>
