<ng-container *ngIf="inquiry$ | async as inquiry">
  <div
    *ngIf="inquiry?.status == 'loading'"
    class="ion-padding ion-margin ion-text-center"
  >
    <ion-spinner></ion-spinner>
  </div>

  <ng-container *ngIf="inquiry?.result?.uuid">
    <ion-card class="ion-no-margin">
      <ion-card-header [ngStyle]="{ 'padding-bottom': '5px' }">
        <ion-card-subtitle>
          {{ inquiry?.result?.create_at | date: "dd MMMM YYYY HH:mm" }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div>
          <ion-text
            color="dark"
            [innerHTML]="inquiry?.result?.keyword"
            [ngStyle]="{ 'font-size': '16px' }"
          ></ion-text>
        </div>

        <ion-list>
          <ion-item-divider class="ion-no-padding">Rincian</ion-item-divider>
          <ng-container
            *ngFor="
              let item of inquiry?.result?.items;
              let last = last;
              let i = index
            "
          >
            <ion-item lines="full">
              <ion-note slot="start" [ngStyle]="{ 'margin-right': '5px' }">
                {{ i + 1 }}
              </ion-note>

              <ion-label
                [innerHTML]="item.label"
                class="ion-text-wrap"
              ></ion-label>
            </ion-item>
          </ng-container>
        </ion-list>

        <ion-buttons>
          <ion-button>
            <ion-icon
              name="flame-outline"
              slot="start"
              color="danger"
            ></ion-icon>

            <ion-text color="medium">
              {{
                inquiry?.result?.propose_count
                  ? inquiry?.result?.propose_count
                  : 0
              }}
              penawaran
            </ion-text>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ng-container>
