<ng-container *ngIf="listing$ | async as listing">
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-subtitle>Ringkasan</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <table>
        <tr>
          <td>Status</td>
          <td class="ion-padding-start">
            {{ listing?.state?.status_display }}
          </td>
        </tr>

        <tr>
          <td>Nama</td>
          <td class="ion-padding-start">{{ listing.label }}</td>
        </tr>

        <tr>
          <td>Kata kunci</td>
          <td class="ion-padding-start">{{ listing.keyword }}</td>
        </tr>

        <tr>
          <td>Email</td>
          <td class="ion-padding-start">
            {{ listing.contact?.email ? listing.contact?.email : "&mdash;" }}
          </td>
        </tr>

        <tr>
          <td>Telepon</td>
          <td class="ion-padding-start">
            {{
              listing.contact?.telephone
                ? listing.contact?.telephone
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>WhatsApp</td>
          <td class="ion-padding-start">
            {{
              listing.contact?.whatsapp ? listing.contact?.whatsapp : "&mdash;"
            }}
          </td>
        </tr>

        <!--
        <tr>
          <td>Keterangan</td>
          <td class="ion-padding-start">
            {{ listing.description ? listing.description : "&mdash;" }}
          </td>
        </tr>
        -->
      </table>

      <ion-button
        size="small"
        mode="ios"
        class="ion-margin-top"
        (click)="editSummary(listing)"
      >
        Edit
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-no-margin ion-margin-top">
    <ion-card-header>
      <ion-card-subtitle>Lokasi</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <table>
        <tr>
          <td>Alamat</td>
          <td class="ion-padding-start">
            {{
              listing?.location?.street_address
                ? listing?.location?.street_address
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Desa / Kelurahan</td>
          <td class="ion-padding-start">
            {{
              listing?.location?.administrative_area_level_4
                ? listing?.location?.administrative_area_level_4
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Kecamatan</td>
          <td class="ion-padding-start">
            {{
              listing?.location?.administrative_area_level_3
                ? listing?.location?.administrative_area_level_3
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Kota / Kabupaten</td>
          <td class="ion-padding-start">
            {{
              listing?.location?.administrative_area_level_2
                ? listing?.location?.administrative_area_level_2
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Provinsi</td>
          <td class="ion-padding-start">
            {{
              listing?.location?.administrative_area_level_1
                ? listing?.location?.administrative_area_level_1
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Kodepos</td>
          <td class="ion-padding-start">
            {{
              listing?.location?.postal_code
                ? listing?.location?.postal_code
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Latitude</td>
          <td class="ion-padding-start">
            {{
              listing?.location?.latitude
                ? listing?.location?.latitude
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Longitude</td>
          <td class="ion-padding-start">
            {{
              listing?.location?.longitude
                ? listing?.location?.longitude
                : "&mdash;"
            }}
          </td>
        </tr>
      </table>

      <ion-button
        size="small"
        mode="ios"
        class="ion-margin-top"
        (click)="editAddress(listing)"
      >
        Edit
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button
    expand="block"
    color="danger"
    class="ion-margin-top"
    (click)="delete(listing)"
  >
    Hapus
  </ion-button>
</ng-container>
