<ng-container *ngIf="listing$ | async as listing">
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-subtitle>Ringkasan</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <table>
        <tr>
          <td>Status</td>
          <td class="ion-padding-start">
            {{ listing?.result?.status_display }}
          </td>
        </tr>

        <tr>
          <td>Nama</td>
          <td class="ion-padding-start">{{ listing?.result?.label }}</td>
        </tr>

        <tr>
          <td>Kata kunci</td>
          <td class="ion-padding-start">{{ listing?.result?.keyword }}</td>
        </tr>

        <tr>
          <td>Email</td>
          <td class="ion-padding-start">
            {{
              listing?.result?.contact?.email
                ? listing?.result?.contact?.email
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Telepon</td>
          <td class="ion-padding-start">
            {{
              listing?.result?.contact?.telephone
                ? listing?.result?.contact?.telephone
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>WhatsApp</td>
          <td class="ion-padding-start">
            {{
              listing?.result?.contact?.whatsapp
                ? listing?.result?.contact?.whatsapp
                : "&mdash;"
            }}
          </td>
        </tr>

        <!--
        <tr>
          <td>Keterangan</td>
          <td class="ion-padding-start">
            {{ listing?.result?.description ? listing?.result?.description : "&mdash;" }}
          </td>
        </tr>
        -->
      </table>

      <ion-button
        size="small"
        mode="ios"
        class="ion-margin-top"
        color="secondary"
        (click)="editSummary(listing?.result)"
      >
        Edit
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-no-margin ion-margin-top">
    <ion-card-header>
      <ion-card-subtitle>Lokasi</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <table>
        <tr>
          <td>Alamat</td>
          <td class="ion-padding-start">
            {{
              listing?.result?.location?.street_address
                ? listing?.result?.location?.street_address
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Desa / Kelurahan</td>
          <td class="ion-padding-start">
            {{
              listing?.result?.location?.administrative_area_level_4
                ? listing?.result?.location?.administrative_area_level_4
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Kecamatan</td>
          <td class="ion-padding-start">
            {{
              listing?.result?.location?.administrative_area_level_3
                ? listing?.result?.location?.administrative_area_level_3
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Kota / Kabupaten</td>
          <td class="ion-padding-start">
            {{
              listing?.result?.location?.administrative_area_level_2
                ? listing?.result?.location?.administrative_area_level_2
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Provinsi</td>
          <td class="ion-padding-start">
            {{
              listing?.result?.location?.administrative_area_level_1
                ? listing?.result?.location?.administrative_area_level_1
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Kodepos</td>
          <td class="ion-padding-start">
            {{
              listing?.result?.location?.postal_code
                ? listing?.result?.location?.postal_code
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Latitude</td>
          <td class="ion-padding-start">
            {{
              listing?.result?.location?.latitude
                ? (listing?.result?.location?.latitude.toString() | slice: 0:10)
                : "&mdash;"
            }}
          </td>
        </tr>

        <tr>
          <td>Longitude</td>
          <td class="ion-padding-start">
            {{
              listing?.result?.location?.longitude
                ? (listing?.result?.location?.longitude.toString()
                  | slice: 0:10)
                : "&mdash;"
            }}
          </td>
        </tr>
      </table>

      <ion-button
        size="small"
        mode="ios"
        class="ion-margin-top"
        color="secondary"
        (click)="editAddress(listing?.result)"
      >
        Edit
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button
    expand="block"
    color="danger"
    class="ion-margin-top"
    mode="ios"
    (click)="delete(listing?.result)"
  >
    Hapus
  </ion-button>
</ng-container>
